#checkoutButton {
  background-color: rgb(253, 184, 184);
}

#formOne {
  background-color: rgb(167, 253, 220);
}

#formTwo {
  background-color: rgb(253, 255, 158);
}

#formThree {
  background-color: rgb(210, 182, 255);
}